div.board-with-controls input {
    margin: 15px 0 15px 0;
}

div.horizontal-line {

    /* first horizontal line */
    background-color: red;
    width: 260px;
    height: 3px;
    position: absolute;
    left: 114px;
    
}


div.non-horizontal-line {
    /* right diagonal line */
    background-color: red;
    height: 3px;
}