div.board-with-controls input {
    margin: 15px 0 15px 0;
}

@media only screen and (min-width: 991px) {
    div.horizontal-line {
        left: 114px;
    }
}

@media only screen and (max-width: 726px) {

    .container {
        padding-left: 20px;
    }

    div.horizontal-line {
        left: 8px;
    }
}

div.horizontal-line {

    /* first horizontal line */
    background-color: red;
    width: 230px;
    height: 3px;
    position: absolute;
    
}


div.non-horizontal-line {
    /* right diagonal line */
    background-color: red;
    height: 3px;
}